.file-input input[type="file"] {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer; /* Ensure cursor changes to pointer */
}

.btn-outline-light:hover,
.btn-success:hover {
  cursor: pointer;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25); /* Green glow */
}
